(
H,
a,
g,
k,
m,
n,
p,
sinA,
sinAa,
sinAae,
sinAe,
sinAi,
sinAu,
sinBa,
sinBha,
sinCa,
sinCha,
sinDa,
sinDda,
sinDdha,
sinDha,
sinE,
sinEe,
sinFa,
sinGa,
sinGha,
sinHa,
sinI,
sinIi,
sinJa,
sinJha,
sinJnya,
sinKa,
sinKha,
sinLa,
sinLla,
sinMa,
sinMba,
sinNa,
sinNda,
sinNdja,
sinNga,
sinNna,
sinNndda,
sinNnga,
sinNya,
sinO,
sinOo,
sinPa,
sinPha,
sinRa,
sinSa,
sinSha,
sinSsa,
sinTa,
sinTha,
sinTta,
sinTtha,
sinU,
sinUu,
sinVa,
sinYa,
sinvocalicL,
sinvocalicLL,
sinvocalicR,
sinvocalicRr,
tmKa,
tmTa,
ArchaicOne,
ArchaicTwo,
ArchaicThree,
ArchaicFour,
ArchaicFive,
ArchaicSix,
ArchaicSeven,
ArchaicEight,
ArchaicNine,
ArchaicTen,
ArchaicTwenty,
ArchaicThirty,
ArchaicForty,
ArchaicFifty,
ArchaicSixty,
ArchaicSeventy,
ArchaicEighty,
ArchaicNinety,
ArchaicHundred,
ArchaicThousand,
LithZero,
LithOne,
LithTwo,
LithThree,
LithFour,
LithFive,
LithSix,
LithSeven,
LithEight,
LithNine,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
space,
zwnj,
zerowidthjoiner,
CR,
NULL,
sinkundaliya,
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
question,
asterisk,
numbersign,
slash,
backslash,
hyphen,
underscore,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
quotedbl,
quotesingle,
bar,
plus,
equal,
greater,
less,
asciitilde,
asciicircum,
dottedcircle,
sinMatraI,
sinMatraIi,
sinMatraU,
sinMatraUu,
sinVirama,
anusvara,
sinMatraAa,
sinMatraAae,
sinMatraAe,
sinMatraAi,
sinMatraAu,
sinMatraE,
sinMatraEe,
sinMatraLl,
sinMatraLs,
sinMatraO,
sinMatraOo,
sinMatraR,
sinMatraRr,
visarga,
notdef,
null,
sinAnusvara,
sinBI,
sinBIi,
sinBRI,
sinBRIi,
sinBRa,
sinBU,
sinBUu,
sinBhAa,
sinBhI,
sinBhIi,
sinBhRI,
sinBhRIi,
sinBhRa,
sinBhU,
sinBhUu,
sinCI,
sinCIi,
sinCRI,
sinCRIi,
sinCRa,
sinCU,
sinCUu,
sinChI,
sinChIi,
sinChRI,
sinChRIi,
sinChRa,
sinChU,
sinChUu,
sinDDhI,
sinDDhIi,
sinDDhU,
sinDDhUu,
sinDDha,
sinDI,
sinDIi,
sinDRI,
sinDRIi,
sinDRa,
sinDU,
sinDUu,
sinDVI,
sinDVIi,
sinDVU,
sinDVUu,
sinDVa,
sinDdI,
sinDdIi,
sinDdRI,
sinDdRIi,
sinDdRa,
sinDdU,
sinDdUu,
sinDdhI,
sinDdhIi,
sinDdhRI,
sinDdhRIi,
sinDdhRa,
sinDdhU,
sinDdhUu,
sinDhI,
sinDhIi,
sinDhRI,
sinDhRIi,
sinDhRa,
sinDhU,
sinDhUu,
sinDrI,
sinDrIi,
sinDra,
sinDvocR,
sinDvocRr,
sinFAa,
sinFI,
sinFIi,
sinFRI,
sinFRIi,
sinFRa,
sinFU,
sinFUu,
sinGAa,
sinGDha,
sinGI,
sinGIi,
sinGRI,
sinGRIi,
sinGRa,
sinGU,
sinGUu,
sinGhI,
sinGhIi,
sinGhRI,
sinGhRIi,
sinGhRa,
sinGhU,
sinGhUu,
sinHAa,
sinHI,
sinHIi,
sinHRI,
sinHRIi,
sinHRa,
sinHU,
sinHUu,
sinJI,
sinJIi,
sinJRI,
sinJRIi,
sinJRa,
sinJU,
sinJUu,
sinJhI,
sinJhIi,
sinJhRI,
sinJhRIi,
sinJhRa,
sinJhU,
sinJhUu,
sinJnyI,
sinJnyIi,
sinJnyRI,
sinJnyRIi,
sinJnyRa,
sinJnyU,
sinJnyUu,
sinKAa,
sinKI,
sinKIi,
sinKRI,
sinKRIi,
sinKRa,
sinKSsI,
sinKSsIi,
sinKSsU,
sinKSsUu,
sinKSsa,
sinKU,
sinKUu,
sinKVI,
sinKVIi,
sinKVU,
sinKVUu,
sinKVa,
sinKhI,
sinKhIi,
sinKhRI,
sinKhRIi,
sinKhRa,
sinKhU,
sinKhUu,
sinKundaliya,
sinLI,
sinLIi,
sinLU,
sinLUu,
sinLlI,
sinLlIi,
sinLlU,
sinLlUu,
sinMI,
sinMIi,
sinMRI,
sinMRIi,
sinMRa,
sinMU,
sinMUu,
sinMatraAea,
sinMb,
sinMbI,
sinMbIi,
sinMbU,
sinMbUu,
sinNAa,
sinNDI,
sinNDIi,
sinNDRI,
sinNDRIi,
sinNDRa,
sinNDU,
sinNDUu,
sinNDa,
sinNDhI,
sinNDhIi,
sinNDhU,
sinNDhUu,
sinNDha,
sinNI,
sinNIi,
sinNThI,
sinNThIi,
sinNThU,
sinNThUu,
sinNTha,
sinNU,
sinNUu,
sinNVI,
sinNVIi,
sinNVU,
sinNVUu,
sinNVa,
sinNdI,
sinNdIi,
sinNdRa,
sinNdU,
sinNdUu,
sinNdda,
sinNdjI,
sinNdjIi,
sinNdjRa,
sinNdjU,
sinNdjUu,
sinNgI,
sinNgIi,
sinNgU,
sinNgUu,
sinNnAa,
sinNnI,
sinNnIi,
sinNnU,
sinNnUu,
sinNnddI,
sinNnddIi,
sinNnddU,
sinNnddUu,
sinNngAa,
sinNngI,
sinNngIi,
sinNngU,
sinNngUu,
sinNyAa,
sinNyI,
sinNyIi,
sinNyRI,
sinNyRIi,
sinNyRa,
sinNyU,
sinNyUu,
sinPI,
sinPIi,
sinPRI,
sinPRIi,
sinPRa,
sinPU,
sinPUu,
sinPhI,
sinPhIi,
sinPhRI,
sinPhRIi,
sinPhRa,
sinPhU,
sinPhUu,
sinRAae,
sinRAe,
sinRI,
sinRIi,
sinRU,
sinRUu,
sinRakar,
sinReph,
sinSI,
sinSIi,
sinSRI,
sinSRIi,
sinSRa,
sinSU,
sinSUu,
sinShI,
sinShIi,
sinShRI,
sinShRIi,
sinShRa,
sinShU,
sinShUu,
sinSsI,
sinSsIi,
sinSsRI,
sinSsRIi,
sinSsRa,
sinSsU,
sinSsUu,
sinTAa,
sinTI,
sinTIi,
sinTRI,
sinTRIi,
sinTRa,
sinTThI,
sinTThIi,
sinTThU,
sinTThUu,
sinTTha,
sinTU,
sinTUu,
sinTVI,
sinTVIi,
sinTVU,
sinTVUu,
sinTVa,
sinThI,
sinThIi,
sinThRI,
sinThRIi,
sinThRa,
sinThU,
sinThUu,
sinTtI,
sinTtIi,
sinTtRI,
sinTtRIi,
sinTtRa,
sinTtTthI,
sinTtTthIi,
sinTtTthU,
sinTtTthUu,
sinTtTtha,
sinTtU,
sinTtUu,
sinTthI,
sinTthIi,
sinTthRI,
sinTthRIi,
sinTthRa,
sinTthU,
sinTthUu,
sinVI,
sinVIi,
sinVRI,
sinVRIi,
sinVRa,
sinVU,
sinVUu,
sinVisarga,
sinYI,
sinYIi,
sinYU,
sinYUu,
singNaa,
sinB.virama,
sinBR.virama,
sinBU.reph,
sinBUu.reph,
sinBa.reph,
sinBh.virama,
sinBhAa.virama,
sinBhR.virama,
sinBhRa.virama,
sinBhU.reph,
sinBhUu.reph,
sinBha.reph,
sinC.virama,
sinCR.virama,
sinCU.reph,
sinCUu.reph,
sinCa.reph,
sinCh.virama,
sinChR.virama,
sinChU.reph,
sinChUu.reph,
sinCha.reph,
sinD.virama,
sinDAa.ss01,
sinDAae.ss01,
sinDAe.ss01,
sinDDdh.virama,
sinDR.virama,
sinDRa.alt,
sinDU.reph,
sinDUu.reph,
sinDV.virama,
sinDa.reph,
sinDd.virama,
sinDdR.virama,
sinDdU.reph,
sinDdUu.reph,
sinDda.reph,
sinDda.virama,
sinDdh.virama,
sinDdhR.virama,
sinDdhU.reph,
sinDdhUu.reph,
sinDdha.reph,
sinDh.virama,
sinDhR.virama,
sinDhU.reph,
sinDhUu.reph,
sinDha.reph,
sinF.virama,
sinFAa.virama,
sinFR.virama,
sinFU.reph,
sinFUu.reph,
sinFa.reph,
sinG.virama,
sinGAa.virama,
sinGR.virama,
sinGU.reph,
sinGUu.reph,
sinGa.reph,
sinGh.virama,
sinGhR.virama,
sinGhU.reph,
sinGhUu.reph,
sinGha.reph,
sinH.virama,
sinHAa.virama,
sinHR.virama,
sinHU.reph,
sinHUu.reph,
sinHa.reph,
sinJ.virama,
sinJR.virama,
sinJU.reph,
sinJUu.reph,
sinJa.reph,
sinJh.virama,
sinJhR.virama,
sinJhU.reph,
sinJhUu.reph,
sinJha.reph,
sinJny.virama,
sinJnyAa.ss01,
sinJnyAe.ss01,
sinJnyAee.ss01,
sinJnyR.virama,
sinJnya.reph,
sinK.virama,
sinKAa.virama,
sinKR.virama,
sinKSs.virama,
sinKU.reph,
sinKUu.reph,
sinKV.virama,
sinKa.reph,
sinKh.virama,
sinKhR.virama,
sinKhU.reph,
sinKhUu.reph,
sinKha.reph,
sinL.virama,
sinLl.virama,
sinM.virama,
sinMR.virama,
sinMa.reph,
sinMatraAa.virama,
sinMatraI.alt,
sinMatraI.alt1,
sinMatraI.alt2,
sinMatraI.alt4,
sinMatraIi.alt,
sinMatraIi.alt1,
sinMatraIi.alt2,
sinMatraIi.alt3,
sinMatraU.alt,
sinMatraU.alt1,
sinMatraU.alt2,
sinMatraU.alt3,
sinMatraU.alt5,
sinMatraUu.alt,
sinMatraUu.alt1,
sinMatraUu.alt2,
sinMatraUu.alt3,
sinMatraUu.alt5,
sinMb.virama,
sinMba.reph,
sinN.virama,
sinNAa.virama,
sinND.virama,
sinNDAa.ss01,
sinNDAe.ss01,
sinNDAee.ss01,
sinNDh.virama,
sinNTh.virama,
sinNV.virama,
sinNa.reph,
sinNd.virama,
sinNdAa.ss01,
sinNdAae.ss01,
sinNdAe.ss01,
sinNda.reph,
sinNdj.virama,
sinNdjR.virama,
sinNdja.reph,
sinNg.virama,
sinNga.reph,
sinNn.virama,
sinNnAa.virama,
sinNna.reph,
sinNndd.virama,
sinNndda.reph,
sinNng.virama,
sinNngAa.virama,
sinNnga.reph,
sinNy.virama,
sinNyAa.ss01,
sinNyAe.ss01,
sinNyAee.ss01,
sinNyR.virama,
sinNya.reph,
sinP.virama,
sinPR.virama,
sinPU.reph,
sinPUu.reph,
sinPa.reph,
sinPh.virama,
sinPhR.virama,
sinPhU.reph,
sinPhUu.reph,
sinPha.reph,
sinR.virama,
sinRakar.long,
sinRakar.medium,
sinRakar.short,
sinS.virama,
sinSR.virama,
sinSU.reph,
sinSUu.reph,
sinSa.reph,
sinSh.virama,
sinShR.virama,
sinShU.reph,
sinShUu.reph,
sinSha.reph,
sinSs.virama,
sinSsR.virama,
sinSsU.reph,
sinSsUu.reph,
sinSsa.reph,
sinT.virama,
sinTAa.virama,
sinTR.virama,
sinTTh.virama,
sinTU.reph,
sinTUu.reph,
sinTV.virama,
sinTa.reph,
sinTh.virama,
sinThR.virama,
sinThU.reph,
sinThUu.reph,
sinTha.reph,
sinTt.virama,
sinTtR.virama,
sinTtTth.virama,
sinTtU.reph,
sinTtUu.reph,
sinTta.reph,
sinTth.virama,
sinTthR.virama,
sinTthU.reph,
sinTthUu.reph,
sinTtha.reph,
sinV.virama,
sinVR.virama,
sinVU.reph,
sinVUu.reph,
sinVa.reph,
sinVirama.alt,
sinY.virama,
sinYI.post,
sinYIi.post,
sinYU.post,
sinYU.reph,
sinYUu.post,
sinYUu.reph,
sinYa.post,
sinYa.reph,
sinDAa.virama.ss01,
sinDYAa.post.ss01,
sinDYOo.post.ss01,
sinDYUu.post.ss01,
sinDYa.post.ss01,
sinDYu.post.ss01,
sinJnyAa.virama.ss01,
sinNDAa.virama.ss01,
sinNdAa.virama.ss01,
sinNyAa.virama.ss01,
sinY.post.virama,
sinYU.post.reph,
sinYUu.post.reph,
sinYa.post.reph,
sldf
)